{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
</head>
<body class="loginbody">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="loginform" method="post" action="/login/">
        <h3>Login Here</h3>
        {% csrf_token %} 
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <button type="submit">Log In</button>
        <a href="{% url 'signup' %}" >Create an account</a>
    </form>
    
</body>
</html>